# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Compiled Output
target/
out/
build/

# Gradle
gradle/
gradlew
gradlew.bat
gradle.properties
gradle-local.properties

# Maven
.mvn/
mvnw
mvnw.cmd

# Eclipse
.classpath
.project
.settings/

# Logs
*.log

# Temporary Files
*.tmp

# Operating System Files
.DS_Store
Thumbs.db
